
.DS_Store
Thumbs.db


/packages/*
!/packages/repositories.config


[Bb]in/
[Oo]bj/


*.suo
*.user
*.sln.docstates
.vs/
.idea/


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


*.log
*.tmp
*.temp

/publish/